table tr.having td{
    color: #5cb85c;
}
table tr.no-having td{
    color: #d9534f;
}
.fix-space-lbl {
    margin-right: 30px!important;
}
.center-text {
    text-align: center;
}
.title-style {
    color: #2ca02c;
}
.title-sub {
    margin: 10px 15px 20px 15px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.fix-col-lg-6 {
    width:50%;
}
.error_msg {
    color: #a94442;
}
.view-std label.form-control, .view-std textarea.form-control{
    font-weight: normal;
    background-color: rgba(128, 128, 128, 0.23);
    color: blue;
}
.term_form {
    border: 1px solid rgba(128, 128, 128, 0.56);
    padding: 25px 50px;
    width: 100%;
    margin-bottom: 20px;
}